
@model Vidly.ViewModels.CustomersViewModal

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Discount Rate</th>
            <th scope="col">Membership Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr class="table-light">
                <td>@customer.Id</td>
                <td scope="row">
                    @Html.ActionLink(@customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                </td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>

